body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #FF3EA5, #4942E4);
}

.container {
  max-width: 500px;
}

.glassmorphic-form {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(13px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  margin: 0 0 15px;
  color: #108;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 70%;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: 0F0F0F;
  text-decoration: none;
  border-radius: 30px;
  margin-bottom: 10px;
  background: #9400FF;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3),
              0 5px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.button:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-8px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.21),
              0 8px 12px rgba(0, 0, 0, 0.08);
}
